<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.charlie.template.dao.FooDAO">

    <!--<resultMap id="fooMap" type="org.charlie.template.po.FooPO">
        <id column="FOO_INT"  jdbcType="INTEGER"  property="fooInt"></id>
        <id column="FOO_STR"  jdbcType="VARCHAR2"  property="fooStr"></id>
        <id column="FOO_DATE"  jdbcType="TIMESTAMP"  property="fooDate"></id>
    </resultMap>

    <insert id="insertFoo" parameterType="fooMap">
        INSERT INTO FOO (
            FOO_INT,
            FOO_STR,
            FOO_DATE,
            FOO_INT_FK
        ) VALUES (
            SEQ_FOO.NEXTVAL,
            #{fooInt,jdbcType=INTEGER},
            #{fooStr,jdbcType=VARCHAR},
            #{fooTime,jdbcType=TIMESTAMP},
            #{fooIntFK,jdbcType=INTEGER}
        )
    </insert>

    <select id="getFoo" parameterType="fooMap" resultMap="java.util.List">

    </select>-->

</mapper>